<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

<body>
    <div class="form-gap"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h3><i class="fa fa-lock fa-4x"></i></h3>
                            <h2 class="text-center">Reset Password</h2>
                            <p>Enter your OTP and set a new password.</p>
                            <div class="panel-body">
                                <form id="reset-password-form" role="form" autocomplete="off" class="form" (ngSubmit)="onSubmit()"
                                    method="post" >
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i
                                                    class="glyphicon glyphicon-lock color-blue"></i></span>
                                            <input id="otp" name="otp" placeholder="Enter OTP"
                                                [(ngModel)]="resetPasswordModel.otp" class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i
                                                    class="glyphicon glyphicon-lock color-blue"></i></span>
                                            <input  id="new-password"  name="new-password"
                                                placeholder="Enter New Password"
                                                [(ngModel)]="resetPasswordModel.password" class="form-control"
                                                type="password">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i
                                                    class="glyphicon glyphicon-lock color-blue"></i></span>
                                            <input id="confirm-password" name="confirm-password"   [(ngModel)]="resetPasswordModel.confirmPass"
                                                placeholder="Confirm New Password" class="form-control" type="password">
                                        </div>
                                        <span class="text-danger" *ngIf="resetPasswordModel.password !== resetPasswordModel.confirmPass">Passwords do not match.</span>
                                    </div>

                                    <div class="form-group">
                                        <input name="reset-password-submit"
                                            class="btn btn-lg btn-primary-custom btn-block" value="Reset Password" type="submit">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>