<!DOCTYPE html>
<html lang="en">

<head>
 
   
</head>

<body>
    <div class="container">
        <div class="login-container">
            <div class="login-container-img">
                <h1>Kabul Express
                    <span>Taste is here</span>
                </h1>
            </div>
            <div class="login-container-content">
                <form class="login-form" (ngSubmit)="onFormSubmit()">
                    <!-- <button type="button" class="buttonX">X</button> -->
                    <h2>Login</h2>
                    <p class="field">
                        <label>Email</label>
                    <input type="text" name="email" [(ngModel)]="model.email" required>
                    </p>
                    <p class="field">
                        <label>Password</label>
                    <input type="password" name="password" [(ngModel)]="model.password" required>
                        <a href="">oublier mot de passe?</a>
                    </p>
                    <button type="submit" class="submitBtn">Login</button>
                    <br>
                    <br>
               <a class="login-via-phone login-link" href="/loginviaphone">Login via Phone</a>
                <a class="login-via-phone login-link" href="/forgotpassword">Forgot password</a>
                </form>
            </div>
        </div>
    </div>
</body>

</html>