

<body>
    <br>
    <br>
<div id="header">
    <h1>Our Menu</h1>
    <p>The Traditional Fench Taste</p>
</div>

<div class="container">
    <div class="card">
        <div class="card-image">
            <img src="assets/images/image_3.jpg">
        </div>
        <div class="card-text">
            <p class="card-meal-type">Burgers</p>
            <h2 class="card-title">Délicieux Bénédicte</h2>
            <p class="card-body">Eggs Benedict with hollandaise sauce, crispy bacon and an assortment of garden herbs.
            </p>
        </div>
        <div class="card-price">
            <a href="#" class="button">Check</a>
        </div>
    </div>
 
</div>
</body>


