@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,900;1,400;1,900&display=swap');
*{
  margin:0%;
  padding:0%;
  box-sizing:border-box;
  font-family:'Playfair Display', serif;
}
body {
    background-image: url('https://kabulstorage.blob.core.windows.net/kabulexpress/transparent.png');
    background-size:auto;
    background-position: right;
    background-attachment: fixed;
    margin-bottom: 0%;
}
#header{
  margin:0px;
}
#header>h1{
  text-align:center;
  font-size:3rem;
}
#header>p{
  text-align:center;
  font-size:1.5rem;
  font-style:italic;
}
.container{
  width:100vw;
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;
  padding:40px 20px;
}
.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    /* add other styles as needed */
}
.card>div{
  box-shadow:0 15px 20px 0 rgba(0,0,0,0.5);
}
.card-image{
  width:400px;
  height:250px;
}
.card-image>img{
  width:100%;
  height:100%;
  object-fit:cover;
  object-position:bottom;
}
.card-text{

  margin:-30px auto;
  margin-bottom:-50px;
  height:300px;
  width:300px;
  background-color:#1D1C20;
  color:#fff;
  padding:20px;
}
.card-meal-type{
  font-style:italic;
}
.card-title{
  font-size:2.2rem;
  margin-bottom:20px;
  margin-top:5px;
}
.card-body{
font-size: 1.05rem;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f2f2f2;
    color: #333;
    text-decoration: none;
    /* add other button styles as needed */
}
@media (min-width: 1200px) 
{
.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    max-width: 1500px;
    margin-bottom: 0%;
}
}