	<div class="blog-card spring-fever">
  <div class="title-content">
    <h3><a href="#">Add Food Menu Type here</a></h3>
    <div class="intro"> <a href="#">Food Menu</a> </div>
  </div>
  <div class="card-info">
    <button mat-raised-button id="show-projects-button" (click)="openMenuType()">Add Menu Type</button>&nbsp;
 
    <button mat-raised-button id="show-projects-button" (click)="openMenuItem()">Add Menu Item</button>
  </div>
  <div class="utility-info">
    <ul class="utility-list">
     
      <li><span class="licon icon-tag"></span><a href="#">Kabul</a>, <a href="#">Express</a></li>
    </ul>
  </div>
  <div class="gradient-overlay"></div>
  <div class="color-overlay"></div>
</div><!-- /.blog-card -->

