.form-gap {
    padding-top: 10%;
}
.btn-primary-custom {
    background-color: #ff9800;
    border-color: #ff9800;
}

.btn-primary-custom:hover {
    background-color: #ffa726;
    border-color: #ffa726;
}
 body {
     font-family: 'Roboto', sans-serif;
     background-color: #f7f7f7;
     
 }

 .form-gap {
     height: 50px;
     /* Adjust the height as needed */
 }

 .container {
     margin-top: 50px;
     /* Adjust the margin-top as needed */
 }

 .panel-default {
     border-color: #ddd;
     box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
 }

 .panel-body {
     padding: 20px;
 }

 .text-center {
     margin-bottom: 20px;
 }

 .fa-lock {
     color: #ff9800;
     /* Set the icon color to orange (#ff9800) */
 }

 .btn-primary-custom {
     background: linear-gradient(45deg, #ff9800, #ff5722);
     border-color: #ff5722;
     color: #fff;
     padding: 10px 20px;
     border-radius: 5px;
     text-decoration: none;
     text-align: center;
     font-weight: bold;
     transition: background-color 0.3s ease;
 }

 .btn-primary-custom:hover {
     background: linear-gradient(45deg, #ff5722, #ff9800);
 }

 .input-group-addon {
     background-color: #fff;
     border-color: #ccc;
     color: #333;
 }

 .color-blue {
     color: blue;
 }

 .form-control {
     box-shadow: none;
     font-weight: normal;
     font-size: 13px;
 }