


<!DOCTYPE html>
<html>

<head>
    <!-- Other head elements -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-nrjy8nzbg6lQKVxIikXa8asnozEXGf7Fw/vvWvkbLHkByRq3QqL65Nl1vy22YtJ49tSb1TG7IZ8n31A8nUvC3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Rest of the head elements -->
</head>

<body>
    <div class="container">
        <div class="screen">
            <div class="screen__content">            
                <form class="login">
                    <div class="login__field">
                    <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
                    <input type="text" class="login__input" placeholder="Phone Number">
                    </div>
                    <button class="button login__submit">
                        <span class="button__text">Send OTP</span>
                        <i class="button__icon fa fa-paper-plane"></i>
                    </button>
                </form>
    
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>
        </div>
    </div>
</body>

</html>