* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:first baseline;
    align-items: center;
    background-color: #eee;
}

.menu-heading {
    font-family: 'Arial', sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #333;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    /* Gap between cards */
}

.card {
    height: 350px;
    width: 380px;
    background-color: #fff;
    border-radius: 20px;
    position: relative;
}

.card .offer {
    width: 150px;
    height: 40px;
    background-color: red;
    position: absolute;
    top: 28px;
    left: -14px;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
}

.card span:before {
    position: absolute;
    content: '';
    background-color: red;
    height: 30px;
    width: 17px;
    top: 20px;
    left: 0px;
    border-radius: 10px;
    z-index: -10;
}

.card span:after {
    position: absolute;
    content: '';
    background-color: #d70303;
    height: 30px;
    width: 17px;
    top: 30px;
    left: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 20px;
    z-index: -10;
}

.card .item-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card .item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-content {
    padding: 10px;
}

.item-content h3 {
    font-size: 20px;
}

.item-content p {
    font-size: 15px;
    font-weight: 500;
}

.item-price {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
/* Add custom styles for the "Add to Cart" button */
.add-to-cart-button {
    background-color: green;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* On hover effect */
.add-to-cart-button:hover {
    background-color: darkgreen;
}